@use "../../styles/variables.scss" as *;

.nav {

    .list {
        display: flex;
        justify-content: space-between;
        gap: 3.5rem;
        padding: 0 60px;
        margin: 0;
        list-style: none;

        .listItem {
            font-size: 30px;

            a {
                text-decoration: none;
                color: white;
                transition: color 0.3s;


                &.active {
                    color: $rose;

                }

                &:hover {
                    color: $rose;
                }
            }
        }
    }

}