@use "../../styles/variables.scss" as *;


.contentWrapper {
    margin: 0 60px;

    .contentHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

    }


}


/* Media queries */


@media (max-width: 500px) {
    .contentWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .contentHeader {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }

    }
}