@use "../../styles/variables.scss" as *;

.header {
    position: relative;
    height: 150px;
    z-index: 100;
    background-image: url("../../assets/Images/headerBG.png");
    background-position: center;
    background-size: cover;

    .hamburger {
        display: none;
    }


    .headerContent {
        display: flex;
        justify-content: space-between;

        .right {
            display: flex;
            align-items: center;
            height: 40px;
            margin: 50px;



        }

    }

    .logo {
        margin: 50px;
        height: 150px;
        width: 400px;
        user-select: none;
        cursor: pointer;

    }


}


/* media queries*/


@media (max-width: 500px) {
    .header {
        position: fixed;
        width: 100%;
        height: 100px;
        background-image: none;
        background-color: $black;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);




        .logo {
            height: 50px;
            width: 100px;
            margin: 0 20px;

        }

        .headerContent {
            height: 100%;

            padding: 0;

            .right {

                margin: 0;
                margin-right: 30px;
            }

            .left,
            .right {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;



            }
        }
    }
}