@use "../../styles/variables.scss" as *;

.header {
    position: relative;
    height: 300px;
    z-index: 100;


    .headerContent {
        display: flex;
        justify-content: space-between;

        .right {
            display: flex;
            align-items: center;
            height: 40px;
            margin: 50px;

        }

    }

    .logo {
        margin: 50px;
        height: 150px;
        width: 400px;

    }

    .background {
        position: absolute;
        height: 50%;
        width: 100%;
        z-index: -1;
    }


}