.adminWrapper {
    display: flex;
    height: 100svh;

    div {

        &:nth-child(2) {
            margin-left: 50px;
        }
    }


    .adminSection {
        border-right: 1px solid black;
        width: 80%;
        padding-right: 50px;

        table {
            width: 100%;
            margin-top: 20px;

            border-collapse: collapse;

            thead {
                text-align: left;
                height: 50px;

                .title {
                    width: 70%;
                }

                .date {
                    width: 20%;
                }
            }


        }
    }

    .row {
        height: 50px;


        td {
            border-top: 1px solid black;
        }

        .buttons {
            display: flex;
            gap: 10px;
            height: 50px;
            align-items: center;

            button {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 20px;
            }

            .edit {
                color: green;
            }

            .delete {
                color: red;
            }

        }
    }
}



// MEDIA QUERIES

@media (max-width: 500px) {
    .adminWrapper {
        // flex-direction: column;

        div {
            width: 50%;
            margin: 0;
        }

        .adminSection {
            border-right: none;
            padding-right: 0;
            width: 80%;

            table {
                thead {
                    display: none;
                }

                tbody {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }

        .row {
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: auto;

            .buttons {
                display: flex;
                gap: 10px;
                height: 50px;
                font-size: 10px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}